.inventory{
    height: 100vh;
    width: 30vw;
    border-radius: 0   10px  10px 0;
    box-shadow: inset 0 0 10px #eaf086;
    backdrop-filter: blur(20px);
    background-color: rgba(26, 22, 22, 0);
    z-index: 10;
    color: white;
    position: absolute;
    top: 0vh;
    left: 0vw;
    font-size: 90px;
}

.playerName{
    width: 20vw;
    height: 80vh;
    position: absolute;
    left: 40vw;
    bottom: 10vh;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.429);
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
    
}
.classType{
    width: fit-content;
    padding: 1%;
    border-radius: 20px;
    border: solid 1px rgba(0, 0, 0, 0.115);
    backdrop-filter: blur(10px);
    background-color: #a9a92425;
    border: 3px solid black;
   
}

.card{
    width: 100%;
    border: 3px solid black;
    position: absolute; 
    bottom: 0vh;
    color: rgb(234, 231, 231);
    background: linear-gradient(to top, rgb(23, 22, 22), rgba(7, 5, 6, 0.13));
    z-index: inherit;
    border-radius: inherit;
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 1px;
    backdrop-filter: invert(10%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ability{
        background-color: #04040300;
        width: 100%;
        border-radius: 20px;
        margin:0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p{
            width: fit-content;
            padding: 1%;
            border-radius: 10px;
            border: solid 1px rgba(0, 0, 0, 0.115);
            backdrop-filter: blur(10px);
            background-color: #a9a924c7;
            margin: 3%;
            box-shadow:  10px 5px 5px rgb(0, 0, 0);
        }
    }
}